<div class="DU-logo">
    <img src="/images/discover-unfiltered-logo.png" alt="Shocktop logo in a compass">
</div>
<div class="wood-container age">
    <div class="row">
        <h1>YOU MUST BE AT LEAST 21 YEARS OF AGE TO TAKE THE QUIZ.<br/>PLEASE ENTER YOUR DATE OF BIRTH TO CONTINUE.</h1>
    </div>
    <div class="row">
        <label><img src="/images/birthday.png" alt="Birthday"></label>
    </div>
    <form name = "ageGateForm" role="form">
        <div class="row date-of-birth">
            <div class="col-sm-4 col-md-4">
                <div class="form-group">
                    <select name="month" class="form-control">
                        <option value="">Month</option>
                        <% (1..12).each do |month| %>
                            <option <%= 'selected' if params[:month].to_i == month %>><%= month %></option>
                        <% end %>
                    </select>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="form-group">
                    <select name="day" class="form-control">
                        <option value="">Day</option>
                        <% (1..31).each do |day| %>
                            <option <%= 'selected' if params[:day].to_i == day %>><%= day %></option>
                        <% end %>
                    </select>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="form-group">
                    <select name="year" class="form-control">
                        <option value="">Year</option>
                        <% (1900..Date.today.year).each do |year| %>
                            <option <%= 'selected' if params[:year].to_i == year %>><%= year %></option>
                        <% end %>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-md-8 col-sm-offset-4 col-md-offset-4">
                <!-- <button type="submit" class="btn btn-primary btn-lg">Enter Site</button> -->
                <input type="image" src="/images/submit.png" alt="Submit" class="submit-btn" ng-click="navCtrl.goToEntry()">
            </div>
        </div>
    </form>
</div>
<div class="bottle-container">
    <img src="/images/beer-bottles.png" alt="Shocktop Bottles">
</div>